extends layout

block content
  h1= title
  p#l #{data[0]}
  p#t #{data[1]}
  
  script.
    var io = io();
    io.on('data', (sensorData) => {
      document.getElementById('l').innerHTML = "Luz: " + sensorData[0];
      document.getElementById('t').innerHTML = "Temperatura: " + sensorData[1] + "ºC";
    });
